VITE_SUPABASE_URL=https://omqijqtwhakmktaqdbsw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tcWlqcXR3aGFrbWt0YXFkYnN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMDg2NTQsImV4cCI6MjEwNTc4NDY1NH0.1EnKkJg2vUQ0mycplbYDtP9Q1dB3xT9FQ6Uvyd4EwGU
VITE_WORKER_API_URL=https://nexusapi.nsnexus.com.br
